<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Include the navbar -->
    <%- include('navbar') %>
    
    <div class="container card mt-5">
        <h2 class="m-4 card-title"><%= title %></h2>
        <a href="/submit" class="btn btn-primary mb-3">Submit</a>
        <p>
            <%= body %>
        </p>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-4">Entrada</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur assumenda quisquam autem ex. Porro excepturi accusantium eum fuga exercitationem id!</p>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">Salida</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, perspiciatis?</p>   
            </div> 
    </div>

    <!-- Bootstrap JS and dependencies CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
